/contracts/build/*/**
Move.lock
node_modules/
.env
sui.log**
contracts/sources/MoveStdlib
/contracts/sources/Sui
.idea
/contracts/loa/
/contracts/multisig/
/contracts/loa_game/build/
/contracts/loa_facilities/build/

